.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f9f9f9;
  align-items: center;
}

.header > a > img {
  height: 40px;
}

.header__icon {
  padding: 20px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {
  .header__icon {
    padding: 5px;
  }

  .header > a > img {
    height: 30px;
  }
}